.headerGlobal__title {
    left: 175px;
}

@media (max-width: 1024px) {
    .headerGlobal {
        display: flex;
        z-index: 50;
        position: relative;
    }
    .headerGlobal__title {
        left: 0px;
    }
}
