<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <cmail-header></cmail-header>
    <main class="mdl-layout__content">
        <div class="page-content">

            <div class="mdl-grid">
                <ul>
                    <li *ngFor="let email of emailList">
                        <strong>Para:</strong> {{email.destinatario}}<br>
                        <strong>Assunto:</strong> {{email.assunto}}
                    </li>
                </ul>
            </div>

            <div class="mdl-grid">
                <cmail-fab (click)="emailForm.toggle()"></cmail-fab>

                <cmail-email-form #emailForm (sendEmail)="handleNewEmail($event)"></cmail-email-form>
            </div>

        </div>
    </main>
</div>